<body>
    <div class= "verify">
        <h2>
            Forgot password
        </h2>
        <p>Enter the email address associated with your account to reset your password <br>  and we'll send an email with instructions to set up your password</p>
        <form>
            <div class="inputBox"> 
                
                <input id="email" type="text" name="Email" placeholder="Enter your email address"> 
             </div>
        </form>
            <div class="button">
                <a routerLink="/email" routerLinkActive="activebutton" ariaCurrentWhenActive="page">  <button>Send instructions</button></a>
            </div>
        </div>
</body>