<body>
    <div class= "verify">
    <h1>
       Reset Password
    </h1>
    <h3>Your new password must be different from previous used passwords</h3>
    <form>
        <div id="inputBox"> 
            <label class="label" for="Password">Password</label><br>
            <input id="password" type="password" name="password" placeholder=""> 
            <p>Must be atleast 8 characters</p>
            <label  class="label" for="Confirm Password">Confirm Password</label><br>
            <input id="password" type="password" name="password" placeholder=""> 
            <p>Both passwords must match</p>
         </div>
    </form>
        <div class="button">
            <a routerLink="/signin" routerLinkActive="activebutton" ariaCurrentWhenActive="page"> <button>Reset Password</button></a>
        </div>
    </div>
</body>
