<body>
    
    <div class="SigninBox">
    
    <h3>Sign up</h3>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <span style= "color:red" *ngIf="email && email.invalid">*Email is required</span>
        <div class="inputBox"> 
            <input type="text"
            formControlName="email"
            class="form-control"
           id="email" type="text" name="Email" placeholder="Email"/> 
          
          </div> 
            <input formControlName="password"
          id="pass" type="password" name="Password" placeholder="Password"/>
          <span style="color:red" *ngIf="password && password.invalid">*Password must be more than 5 characters</span>

         <a  routerLink="/verifypword" routerLinkActive="activebutton" ariaCurrentWhenActive="page"> <input [disabled]="signupForm.invalid" type="submit" name="" value="Sign up" ></a> 
    
    </form> 
    <div class="in">
    <p>Already have an account  <a routerLink="/signin" routerLinkActive="activebutton" ariaCurrentWhenActive="page"><button class="buttons">Sign in here</button></a></p>
    </div>

</div></body>

