<header style="color:rgb(10, 10, 117)">
    <h1>I.tools</h1>
    </header>
    <body>
      <div class="body">
    <h1 class="add">Withdraw</h1>
   
    <div class="card1">
      
     <h2 class="balance">Send money anywhere in just a minute.</h2>
        
    </div>
    
   

    <form style="margin-top:40px;">
        <div class="inputBox"> 
        <input type="text"
            class="form-control"
           id="email" type="text" name="Amount"    placeholder="Enter Amount"/> 
          
            <input  class="form-control"
          id="pass" type="password" name="Account" placeholder=" Enter Account number"/>
          <input type="text"
          class="form-control"
         id="email" type="text" name="Bank" placeholder=" Enter Bank Name"/> 
          <input class="form-control"
        id="pass" type="password" name="Password" placeholder="Password"/>
        <input class="form-control"
        id="pass" type="password" name="reason" placeholder="Reason"/>

</div> 
    </form>
<div class="fun">
<button  class="fun" mat-raised-button style="background-color: rgb(9, 9, 146); margin-left: -5px; size: 30px; color:white">Withdraw</button>
</div>
<br>
<br>
</div>
<br>
    </body>


   
