<header style="color:rgb(10, 10, 117)">
<h1>I.tools</h1>
</header>
<body>
    <br>
    <br>
    <div class="body">
        <br>
        <br>
        <br>
<h1 style="margin-top:30px;" class="add">Add Funds</h1>
<br>
<div class="card1">
  
 <h2 class="balance">Fund your account in just a minute.</h2>
    
</div>
<div class="card2">
    <br>
<div class="pay">
<h1>How would you like to add money?</h1>
</div>
<button class="bank1" >
 <h3 class="h3">Bank Transfer</h3>
 <i id="i" class="fa-solid fa-angle-rigl"></i>
 
</button>
<button class="bank">
    <h3 class="h3">Debit Card</h3>
    <i id="i" class="fa-solid fa-angle-rigl"></i>
</button>
    <button class="bank">
        <h3 class="h3">Ussd</h3>
        <i id="i" class="fa-solid fa-angle-rigl"></i>
</button>
<br>
<br>
</div>
<br>
<br>
<br>
<br>
</div>
<br>
<br>
</body>          

