@media only screen and (max-width:333px){
    

    header{
        background-color: rgb(27, 9, 110);
        height: 70px;
        margin-top: -10px;
    }
    
    .body{
        display:flex;
        justify-content: center;
        border:5px solid;
        background-color: white;
        border-color: transparent;
        flex-direction: column;
        border-radius: 20px;
        width: 600px;
        height: 1000px;
        margin-left: 0px;
        margin-bottom: 20px;
        margin-top: 20px;
        
       
    }
    
        body{
            background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
            width: 100%;
        }
    
        .balance{
            display: flex;
            justify-content: flex-start;
            margin-left: 70px;
            padding-top: 50px;
            margin-bottom: 10px;
            padding-bottom: 20px;
        }
        .card1{
          
        background-color:rgb(9, 9, 146);
        text-align: center;
        font-size: 10px;
        border: 0px;
        border-radius: 10px;
        width: 500px; height: 150px;
        border-color: black;
        margin-bottom : 10px;
        margin-right: 10px;
        color:white;
        box-shadow: 5px 5px 5px rgba(0, 0, 255, 0.432);
        margin-left: 60px;
    
        }
    
        .pay{
            font-size: 20px;
            margin-left: 50px;
            margin-top: 30px;
            margin-bottom: 30px;
            color: rgb(4, 4, 65);
        }
    
         .bank, .bank1{
         background-color: transparent;
        text-align: left;
        font-size: 20px;
        border: 1.5px solid;
        border-radius: 10px;
        width: 500px; height: 120px;
        border-color: black;
        margin-bottom : 10px;
        color: black;
        margin-left: 80px;
        margin-top: 20px;
    
        }
         .bank1{
            margin-top: 20px;
         }
    
        .add{
            margin-top: -40px;
            margin-left: 50px;
            color: rgba(6, 6, 97, 0.884);
            font-weight: 580;
            font-size: 40px;
            padding-bottom: 30px;
        }
        .h3{
            margin-left: 30px;
            margin-top: 20px;
         font-size: 20px;
        }
        #i{
          font-size: 30px;
          color: black;
       }
       button:hover{
                  background-color: rgb(4, 4, 78);
                  color: white;
       }
    }

@media only screen and (max-width:767px){
    

header{
    background-color: rgb(27, 9, 110);
    height: 70px;
    margin-top: -10px;
}

.body{
    display:flex;
    justify-content: center;
    border:5px solid;
    background-color: white;
    border-color: transparent;
    flex-direction: column;
    border-radius: 20px;
    width: 600px;
    height: 1000px;
    margin-left: 70px;
    margin-bottom: 20px;
    margin-top: 20px;
    
   
}

    body{
        background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
        width: 100%;
    }

    .balance{
        display: flex;
        justify-content: flex-start;
        margin-left: 70px;
        padding-top: 50px;
        margin-bottom: 10px;
        padding-bottom: 20px;
    }
    .card1{
      
    background-color:rgb(9, 9, 146);
    text-align: center;
    font-size: 10px;
    border: 0px;
    border-radius: 10px;
    width: 500px; height: 150px;
    border-color: black;
    margin-bottom : 10px;
    margin-right: 10px;
    color:white;
    box-shadow: 5px 5px 5px rgba(0, 0, 255, 0.432);
    margin-left: 60px;

    }

    .pay{
        font-size: 20px;
        margin-left: 50px;
        margin-top: 30px;
        margin-bottom: 30px;
        color: rgb(4, 4, 65);
    }

     .bank, .bank1{
     background-color: transparent;
    text-align: left;
    font-size: 20px;
    border: 1.5px solid;
    border-radius: 10px;
    width: 500px; height: 120px;
    border-color: black;
    margin-bottom : 10px;
    color: black;
    margin-left: 50px;
    margin-top: 20px;

    }
     .bank1{
        margin-top: 20px;
     }

    .add{
        margin-top: -40px;
        margin-left: 50px;
        color: rgba(6, 6, 97, 0.884);
        font-weight: 580;
        font-size: 40px;
        padding-bottom: 30px;
    }
    .h3{
        margin-left: 30px;
        margin-top: 20px;
     font-size: 20px;
    }
    #i{
      font-size: 30px;
      color: black;
   }
   button:hover{
              background-color: rgb(4, 4, 78);
              color: white;
   }
}

@media only screen and (max-width:1023px){
    

    header{
        background-color: rgb(27, 9, 110);
        height: 70px;
        margin-top: -10px;
    }
    
    .body{
        display:flex;
        justify-content: center;
        border:5px solid;
        background-color: white;
        border-color: transparent;
        flex-direction: column;
        border-radius: 20px;
        width: 700px;
        height: 1000px;
        margin-left: 150px;
        margin-bottom: 20px;
        margin-top: 20px;
        
       
    }
    
        body{
            background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
            width: 100%;
        }
    
        .balance{
            display: flex;
            justify-content: flex-start;
            margin-left: 70px;
            padding-top: 50px;
            margin-bottom: 10px;
            padding-bottom: 20px;
        }
        .card1{
          
        background-color:rgb(9, 9, 146);
        text-align: center;
        font-size: 10px;
        border: 0px;
        border-radius: 10px;
        width: 500px; height: 150px;
        border-color: black;
        margin-bottom : 10px;
        margin-right: 10px;
        color:white;
        box-shadow: 5px 5px 5px rgba(0, 0, 255, 0.432);
        margin-left: 60px;
    
        }
    
        .pay{
            font-size: 20px;
            margin-left: 50px;
            margin-top: 30px;
            margin-bottom: 30px;
            color: rgb(4, 4, 65);
        }
    
         .bank, .bank1{
         background-color: transparent;
        text-align: left;
        font-size: 20px;
        border: 1.5px solid;
        border-radius: 10px;
        width: 500px; height: 120px;
        border-color: black;
        margin-bottom : 10px;
        color: black;
        margin-left: 50px;
        margin-top: 20px;
    
        }
         .bank1{
            margin-top: 20px;
         }
    
        .add{
            margin-top: -40px;
            margin-left: 50px;
            color: rgba(6, 6, 97, 0.884);
            font-weight: 580;
            font-size: 40px;
            padding-bottom: 30px;
        }
        .h3{
            margin-left: 30px;
            margin-top: 20px;
         font-size: 20px;
        }
        #i{
          font-size: 30px;
          color: black;
       }
       button:hover{
                  background-color: rgb(4, 4, 78);
                  color: white;
       }
    }

@media only screen and (max-width:1500px) {
    

header{
    background-color: rgb(27, 9, 110);
    height: 70px;
    margin-top: -10px;
}

.body{
    display:flex;
    justify-content: center;
    border:5px solid;
    background-color: white;
    border-color: transparent;
    flex-direction: column;
    border-radius: 20px;
    width: 1000px;
    height: 750px;
    margin-left: 170px;
    margin-bottom: 20px;
    margin-top: 20px;
}
    body{
        background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
        width:100%;
    }

    .balance{
        display: flex;
        justify-content: flex-start;
        margin-left: 70px;
        padding-top: 50px;
        margin-bottom: 10px;
        padding-bottom: 20px;
    }
    .card1{
      
    background-color:rgb(9, 9, 146);
    text-align: center;
    font-size: 10px;
    border: 0px;
    border-radius: 10px;
    width: 700px; height: 150px;
    border-color: black;
    margin-bottom : 10px;
    margin-right: 10px;
    color:white;
    box-shadow: 5px 5px 5px rgba(0, 0, 255, 0.432);
    margin-left: 160px;

    }

    .pay{
        font-size: 20px;
        margin-left: 150px;
        margin-top: 30px;
        margin-bottom: 30px;
        color: rgb(4, 4, 65);
    }

     .bank, .bank1{
     background-color: transparent;
    text-align: left;
    font-size: 10px;
    border: 1.5px solid;
    border-radius: 10px;
    width: 600px; height: 80px;
    border-color: black;
    margin-bottom : 10px;
    color: black;
    margin-left: 223px;
    margin-top: 20px;

    }
     .bank1{
        margin-top: 20px;
     }

    .add{
        margin-top: 80px;
        margin-left: 150px;
        color: rgba(6, 6, 97, 0.884);
        font-weight: 580;
        font-size: 30px;
    }
    .h3{
        margin-left: 30px;
        margin-top: 20px;
     font-size: 20px;
    }
    #i{
      font-size: 30px;
      color: black;
   }
   button:hover{
              background-color: rgb(4, 4, 78);
              color: white;
   }
}

    

    header{
        background-color: rgb(27, 9, 110);
        height: 70px;
        margin-top: -10px;
    }
    
    .body{
        display:flex;
        justify-content: center;
        border:5px solid;
        background-color: white;
        border-color: transparent;
        flex-direction: column;
        border-radius: 20px;
        width: 1000px;
        height: 750px;
        margin-left: 170px;
        margin-bottom: 20px;
        margin-top: 20px;
        position:fixed
    }
        body{
            background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
            width:100%;
        }
    
        .balance{
            display: flex;
            justify-content: flex-start;
            margin-left: 70px;
            padding-top: 50px;
            margin-bottom: 10px;
            padding-bottom: 20px;
        }
        .card1{
          
        background-color:rgb(9, 9, 146);
        text-align: center;
        font-size: 10px;
        border: 0px;
        border-radius: 10px;
        width: 700px; height: 150px;
        border-color: black;
        margin-bottom : 10px;
        margin-right: 10px;
        color:white;
        box-shadow: 5px 5px 5px rgba(0, 0, 255, 0.432);
        margin-left: 160px;
    
        }
    
        .pay{
            font-size: 20px;
            margin-left: 150px;
            margin-top: 30px;
            margin-bottom: 30px;
            color: rgb(4, 4, 65);
        }
    
         .bank, .bank1{
         background-color: transparent;
        text-align: left;
        font-size: 10px;
        border: 1.5px solid;
        border-radius: 10px;
        width: 600px; height: 80px;
        border-color: black;
        margin-bottom : 10px;
        color: black;
        margin-left: 223px;
        margin-top: 20px;
    
        }
         .bank1{
            margin-top: 20px;
         }
    
        .add{
            margin-top: 80px;
            margin-left: 150px;
            color: rgba(6, 6, 97, 0.884);
            font-weight: 580;
            font-size: 30px;
        }
        .h3{
            margin-left: 30px;
            margin-top: 20px;
         font-size: 20px;
        }
        #i{
          font-size: 30px;
          color: black;
       }
       button:hover{
                  background-color: rgb(4, 4, 78);
                  color: white;
       }

    