<body><div class="body">
    <h1 style="color:rgb(3, 3, 80)">Set up your account</h1>
    <form>
        <div class="inputBox"> 
            <label for="fname">First name</label>
            <br>
            <input class="input" id="fname" type="text" name="Firstname" >
            <br>
            <label for="lname">Last name</label><br>
            <input class="input"id="lname" type="text" name="Lastname" > <br>
            <label  for="address">Address</label><br>
            <input class="input" id="Address" type="text" name="Address" placeholder=" Enter your address"><br>
            <label for="tel">Phone number</label><br>
            <input class="input"id="number" type="tel" name="Phone number" placeholder=" Enter your phone number"><br>
            <label for="account type">Select account type</label><br>
            <select class="input" id="account type" name="Account type">
                <option class="option" value="Savings">Savings</option>
                <option class="option" value="Current">Current</option>
              </select> 
              <div class="tacbox">
                <input id="checkbox" type="checkbox" />
                <label for="checkbox">I agree to these <a href="#">Terms and Conditions</a>.</label>
              </div>
        </div> 
        <br>
      <a  routerLink="/enterbvn" routerLinkActive="activebutton" ariaCurrentWhenActive="page"> <input   class="fun" style=" border-color: transparent; border-radius: 10px; background-color: blue; margin-left: 10px;  color:white" type="submit" name="" value="Continue"></a>
    </form> 
</div>
<br>
<br>
</body>

