<body >
  <div class="body">
<h4 class="bvn">Enter your BVN</h4>

  <p> Confirming your BVN helps us verify your identity <br>and keep your account from fraud</p>
  <form>
    <fieldset class='number-code'>
    
      <div class="enter">
        <input name='code' class="code-input" required placeholder=" 123 456"/>
        
      </div> 
    </fieldset>
  </form>

  <div class="div">
  <p><a href='#'>Need help?</a></p>
  <a routerLink="/verifybvn" routerLinkActive="activebutton" ariaCurrentWhenActive="page"><input class="input" type="submit" value="Continue"></a>
    </div>
    </div>
    <br>
    </body>