<body >
  <div class="body">
<h4 class="bvn">Verify your BVN</h4>
  <p>
   Please enter the code sent to your number associated with your bvn
  </p>

  <form>
  <fieldset class='number-code'>
  
    <div>
      <input  name='code' class="code-input" required placeholder="   Enter security code"/>
     
    </div> 
  </fieldset>
  <div class="div">
  <p><a href='#'>Need help?</a></p>
  <a routerLink="/verifybvn" routerLinkActive="activebutton" ariaCurrentWhenActive="page"><input class="input" type="submit" value="Verify"></a>
    </div></form>
    </div>
    <br>
    </body>